/* #save {
  width: 150px;
  margin-left: 90px;
  color: bisque;
}
#jsondata {
  height: "100px";
} */

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  height: 15px;
  width: 15px;
}
